// Specific CSS for your home-page
header {
  position: absolute;
}

.banner {
  .dog-bg-img{
    display: inline;
    float: right;
    width: 900px;
    height: 700px;
    left: 90px;
    top: -30px;
  }
  .call-to-action{
    left: 5%;
  }
}

.sec-2-dog{
  height: 350px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0.5px black;
  float: right;
}

.sec-3-dog {
  height: 350px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0.5px black;
  float: left;
}


.about-container {
  margin-top: 150px;
  margin-left: 80px;
  text-align: center;
  .product-info{
    background-color: rgb(155, 191, 205);
    border-radius: 40px;
    padding: 50px;
  }
}

.img-food{
  height: 100px;
  width: 100px;
  justify-content: space-between;
}

.section-text{
  text-align: center;
  word-wrap: break-word;
  width: 500px;
}

.home-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-content h2 {
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  margin: 35px;
}

.home-content p {
  text-align: justify;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.home-meats {

}
