
<div class="image-aboutus-banner" style="margin-top:100px">
 <div class="container">
  <div class="row">
    <div class="col-md-12 text-center" style="padding-bottom: 40px">
      <h1 class="lg-text">About Us</h1>
     <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
   </div>
 </div>
</div>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="card-group vgr-cards">
      <div class="card">
        <div class="card-about-body">
          <h4 class="card-title"><strong>🐶  Nossa Historia  🦴</strong></h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer. </p>
        </div>
      </div>
      <div class="card">
        <div class="card-img-body">
          <img class="card-img" src="https://source.unsplash.com/9M0tSjb-cpA" alt="Card image cap"></div>
          <div class="card-about-body">
            <h4 class="card-title">Por que a Nutrimatilha?</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-img-body">
            <img class="card-img" src="https://source.unsplash.com/Qb7D1xw28Co" alt="Card image cap"></div>
            <div class="card-about-body">
              <h4 class="card-title">Nossa Crença</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action. This is a wider card with supporting text below as a natural lead-in
              to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


