<div class="container">
  <div class="jumbotron">
    <div class="container text-center mt-4 mb-5">
      <h1 class="h1">Nossa missão</h1>
      <p class="h4">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    </div>
    <img class="card-img col-6" src="https://source.unsplash.com/WLGx0fKFSeI" width="600px" height="600px" style="border-radius: 60px">
    <div class="card-block col-6 d-flex float-left">
      <p> AUGfiwqvfq</p>
    </div>
</div>

