<header>
  Testandno
</header>
<div>
  <%= image_tag "nutrimatilha-banner.jpg", class: "banner" %>
</div>
<div class="container">
  <div class="home-content">
    <h2>Alimentação Natural de verdade e como o seu pet merece</h2>
    <p>Refeições naturais cruas para o seu cão, que incluem uma variedade de carne e de alta qualidade, contendo: frango, carne bovina e peixe. A alimentação natural NutriMatilha varia de 75-85% de carne crua e ossos, complementada por vísceras, legumes, frutas e ervas, tudo triturado para facilitar a mastigação de todo tipo de peludinho, e congelada de 3 a 7 dias para garantir a segurança dos alimentos antes de chegar até o seu dog.</p>
    <p>Absolutamente sem grãos, glúten ou enchimentos e 100% livre de conservantes. Assim como a nossa própria dieta, a variedade é a chave. A melhor maneira de garantir que nossos cães recebam todos os nutrientes de que necessitam é alimentar com a maior variedade possível de nosso menu de dieta crua natural.</p>
  </div>

  <div class="row align-items-center">
    <div class="col home-meats">
      <%= link_to "Frango", root_path %>
    </div>
    <div class="col home-meats">
      <%= link_to "Carne", root_path %>
    </div>
    <div class="col home-meats">
      <%= link_to "Peixe", root_path %>
    </div>
  </div>
</div>