.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 2px 2px 2px grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  height: auto;
  position: relative;
  margin-left: 50px;
  margin-top: -30px;
  margin-bottom: -100px;
}
